{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}
    {% include 'core/components/titulo1.html' with titulo="App Coder" %}
{% endblock titulo %}

{% block contenido %}
<!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'core/img/cajadepandora.webp' %}" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">La caja de Pandora</h1>
            <p>La caja de Pandora es una figura de la mitología griega que representa la curiosidad humana y sus consecuencias. Según la leyenda, Pandora abrió una caja que contenía todos los males del mundo, liberándolos por la curiosidad. Solo quedó la esperanza al final. La historia advierte sobre los peligros de la curiosidad sin límites y las decisiones impulsivas.</p>
            <a class="btn btn-primary" href="https://wa.me/543517010243" target="_blank">Whatsapp</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        {% include 'core/components/card.html' with titulo="Producto 1" texto="Auriculares inalámbricos con cancelación de ruido y sonido envolvente" %}
        {% include 'core/components/card.html' with titulo="Producto 2" texto="Mochila resistente al agua con compartimento para laptop y carga USB" %}
        {% include 'core/components/card.html' with titulo="Producto 1" texto="Auriculares inalámbricos con cancelación de ruido y sonido envolvente" %}
        {% include 'core/components/card.html' with titulo="Producto 2" texto="Mochila resistente al agua con compartimento para laptop y carga USB" %}
        {% include 'core/components/card.html' with titulo="Producto 1" texto="Auriculares inalámbricos con cancelación de ruido y sonido envolvente" %}
        {% include 'core/components/card.html' with titulo="Producto 2" texto="Mochila resistente al agua con compartimento para laptop y carga USB" %}
        
    </div>            

{% endblock contenido %}